<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLDAConnection"
			 connectionString="Data Source=LEGION5\NTK;Initial Catalog=ThucTap_QuanLyDuAn;User ID=sa;Password=123456;Trust Server Certificate=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>	
